@media screen and (max-width: 320px) {
	html {
		font-size: 42.7px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
	html {
		font-size: 45px;
	}
}

@media screen and (width: 360px) {
	html {
		font-size: 48px;
	}
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
	html {
		font-size: 49px;
	}
}

@media screen and (width: 375px) {
	html {
		font-size: 50px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 410px) {
	html {
		font-size: 48px;
	}
}

@media only screen and (width: 411px) {
	html {
		font-size: 54.8px;
	}
}

@media only screen and (width: 411px) and (height: 823px) {
	html {
		font-size: 61.69px;
	}
}

@media only screen and (min-width: 412px) and (max-width: 414px) {
	html {
		font-size: 55px;
	}
}

@media only screen and (width: 414px) {
	html {
		font-size: 55.2px;
	}
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
	html {
		font-size: 78.8px;
	}
}

@media screen and (width: 768px) {
	html {
		font-size: 102.4px;
	}
}

@media screen and (width: 768px) and (height: 1024px) {
	html {
		font-size: 76.76px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	html {
		font-size: 85.35px;
	}
}

@media screen and (width: 1024px) and (height: 1366px) {
	html {
		font-size: 102.4px;
	}
}

@media screen and (width: 1080px) {
	html {
		font-size: 144px;
	}
}

